$accordion-button-active-color: #ffffff;
$accordion-button-active-bg: #005935;
$accordion-icon-active-color: #ffffff;

$nav-link-font-weight: bold;
$nav-link-color: #f0e000;
$nav-link-hover-color: #b70000;

@import "../node_modules/bootstrap/scss/bootstrap";
