.Form {
  background: url(../assets/loading.gif) top center no-repeat;
}

.Form iframe {
  height: 1000px;
}

@media (min-width: 550px) {
  .Form iframe {
    height: 1350px;
  }
}

@media (min-width: 900px) {
  .Form iframe {
    height: 1300px;
  }
}

@media (min-width: 1200px) {
  .Form iframe {
    height: 1200px;
  }
}
